body {
    margin: 0;
    height: 50vh;
    background-image: url("{{ url_for('static', filename='New.gif') }}");
    background-position: center;
    background-repeat: repeat;
    background-size: 150px 150px;
}
