<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image: url('Gemini_Generated_Image_9crjiw9crjiw9crj.jpg'); background-size: cover; height: 1%;">



<body>

<div class="sidebar">
    <p><a href="index.html">Home login</a></p>
</div>

<div class="center-box">
    <h2>Register</h2>

    <form action="success.html">
    <input type="text" name="username" placeholder="New Username" required>
    <input type="password" name="password" placeholder="New Password" required>


    <form action="register page.html">
    <button type="button" onclick="alert('Successfully registered')">
        Register
    </button>

</head>
<body>




</div>

</body>
</html>